# Generated artifacts
artifacts/


# Logs
logs/
*.log

# MLflow
mlruns/

# DVC Cache
.dvc/cache/

# Secrets
config/secrets.yaml
.env

# Python
.python-version

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# TensorFlow models (if generated locally)
*.h5
*.keras
*.hdf5
*.pb

# Generated evaluation files
scores.json

# Temporary files
*.tmp
*.temp
*.bak

# Uploaded images (if created by Flask)
uploads/
prediction/


tempCodeRunnerFile.py
*.egg-info/